<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

2. [Printing in python](#Printing-in-python)
      3. [Print your name with python](#Print-your-name-with-python)
      4. [Print the python version](#Print-the-python-version)
5. [Data-type and variables](#Data-type-and-variables)
      6. [Assign value to variable and print with string](#Assign-value-to-variable-and-print-with-string)
7. [Operators](#Operators)
      8. [Arithmetic Operators](#Arithmetic-Operators)
      9. [Comparison Operators](#Comparison-Operators)
      10. [Logical Operators](#Logical-Operators)
      11. [Identity Operators](#Identity-Operators)
      12. [Membership Operators](#Membership-Operators)
      13. [Bitwise Operators](#Bitwise-Operators)
14. [Looping in Python](#Looping-in-Python)
15. [IF Else in Python (Conditional Statements)](#IF-Else-in-Python-(Conditional-Statements))
16. [Python Lists](#Python-Lists)
      17. [List Concatenation](#List-Concatenation)
      18. [List indices](#List-indices)
      19. [Add to and Edit items of a list](#Add-to-and-Edit-items-of-a-list)
      20. [Remove an item from the list](#Remove-an-item-from-the-list)
      21. [List Slices](#List-Slices)
      22. [Reverse the elements of the list in place](#Reverse-the-elements-of-the-list-in-place)
      23. [LIST methods/functions](#LIST-methods/functions)
      24. [Nested List](#Nested-List)
      25. [Access list with Loops](#Access-list-with-Loops)
      25. [Zip list elements](#Zip-list-elements)
25. [Python Tuples](#Python-Tuples)
      26. [Accessing items of Tuple](#Accessing-items-of-Tuple)
      27. [Add/Edit items of Tuple](#Add/Edit-items-of-Tuple)
      28. [So why using tuples?](#So-why-using-tuples?)
26. [Python Dictionaries](#Python-Dictionaries)
      27. [Add/Edit Dict Items](#Add/Edit-Dict-Items)
      28. [Sorting](#Sorting)
29. [Python Sets](#Python-Sets)
      30. [Sorting](#Sorting)
      31. [List to Set](#List-to-Set)
32. [Python functions](#Python-functions)
      33. [Keyword Arguments](#Keyword-Arguments)
      34. [Arbitrary Arguments, *args](#Arbitrary-Arguments,-*args)
      35. [Arbitrary Keyword Arguments, **kwargs](#Arbitrary-Keyword-Arguments,-**kwargs)
      36. [Function with Return Statement](#Function-with-Return-Statement)
      37. [Pass anything inside function](#Pass-anything-inside-function)
------------------

## Printing in python

#### Print your name with python

In [3]:
name = "Avishek"
print(name)       #alternative print("Avishek")

Avishek

#### Print the python version

In [7]:
import sys
print(sys.version)

3.6.5 |Anaconda custom (64-bit)| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

## Data-type and variables

In [24]:
x = 10
print( type(x) )

x = 10.5
print( type(x) )

x = 1 + 2j
print( type(x) )

x = "Hello Python"
print( type(x) )

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

#### Assign value to variable and print with string

In [12]:
x = 10
y = 20
print(x,y)

10 20

In [ ]:
print("This is " + x )

In [2]:
print("This is " + str(x) ) #printed string with integer and converted int to str

This is 10

In [3]:
print("This is " + str(x) + " and this is "+str(y))

This is 10 and this is 20

In [4]:
print("This is {} and this is {}".format(x,y) )

This is 10 and this is 20

In [5]:
print("This is {1} and this is {0}".format(x,y) )

This is 20 and this is 10

## Operators

#### Arithmetic Operators

In [26]:
x,y = 5,3

In [27]:
x+y, x-y, x*y, x/y, x**y, y%x, 5**(1/3)

(8, 2, 15, 1.6666666666666667, 125, 3, 1.7099759466766968)

#### Comparison Operators

In [29]:
x>20, x<20, x==10, x!=11, x>=10, y<=20

(False, True, False, True, False, True)

#### Logical Operators

In [30]:
x < 5 and  x < 10

False

In [31]:
x < 5 or x < 4

False

In [32]:
not(x < 5 and x < 10)

True

#### Identity Operators

In [35]:
x is y

True

In [36]:
x is not y

False

#### Membership Operators

In [37]:
array = [1,3,5,7,9]

In [38]:
1 in array

True

In [39]:
2 in array

False

In [40]:
2 not in array

True

#### Bitwise Operators

In [55]:
1 & 1,   1 | 1,   1^1

(1, 1, 0)

## Looping in Python

In [166]:
for i in range(5):
    print(i)

0
1
2
3
4

In [168]:
i=0
while(i<5):
    print(i)
    i+=1

0
1
2
3
4

## IF Else in Python (Conditional Statements)

In [171]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [174]:
print("A") if a > b else print("=") if a == b else print("B")

A

## Python Lists

In [57]:
numbers = [10, 20, 30, 40, 50]
names = ["Sara", "David", "Warner", "Sandy"]
student_info = ["Sara", 1, "Chemistry"]

In [60]:
print(numbers)
print(names)
print(student_info)

[10, 20, 30, 40, 50]
['Sara', 'David', 'Warner', 'Sandy']
['Sara', 1, 'Chemistry']

In [62]:
mixed_list = ['red', 12, 112.12] #the list contains a string, an integer and a float values

#### List Concatenation

In [67]:
color_list1 = ["White", "Yellow"]
color_list2 = ["Red", "Blue"]
color_list3 = ["Green", "Black"]
color_list = color_list1 + color_list2 + color_list3
print(color_list)

['White', 'Yellow', 'Red', 'Blue', 'Green', 'Black']

#### List indices

In [68]:
color_list=["RED", "Blue", "Green", "Black"]

<img src = "images/list_index.png">

In [69]:
print(color_list[0], color_list[3])

RED Black

In [70]:
print(color_list[-4],color_list[-1])

RED Black

In [ ]:
print(color_list[4],color_list[3])

#### Add to and Edit items of a list

<img src = "images/add-item-to-the-end-of-the-list.png">

In [73]:
color_list.append("Yellow")

In [74]:
print(color_list)

['RED', 'Blue', 'Green', 'Black', 'Yellow']

In [75]:
color_list.insert(4,"White")

In [76]:
print(color_list)

['RED', 'Blue', 'Green', 'Black', 'White', 'Yellow']

In [77]:
color_list[4] = "Purple"

In [78]:
print(color_list)

['RED', 'Blue', 'Green', 'Black', 'Purple', 'Yellow']

#### Remove an item from the list

In [79]:
color_list.remove("Black")

In [80]:
print(color_list)

['RED', 'Blue', 'Green', 'Purple', 'Yellow']

#### List Slices

In [82]:
print(color_list[0:2])

['RED', 'Blue']

In [83]:
print(color_list[0:-1])

['RED', 'Blue', 'Green', 'Purple']

In [84]:
print(color_list[0:])

['RED', 'Blue', 'Green', 'Purple', 'Yellow']

In [87]:
print(color_list[:2])

['RED', 'Blue']

In [113]:
print(color_list[::1]) #list[start:stop:step], step specify an increment

['RED', 'Blue', 'Green', 'Purple', 'Yellow']

#### Reverse the elements of the list in place

In [114]:
print(color_list[ : :-1]) #step specify an increment
print(color_list)

['Yellow', 'Purple', 'Green', 'Blue', 'RED']
['RED', 'Blue', 'Green', 'Purple', 'Yellow']

In [115]:
color_list.reverse()

In [116]:
print(color_list)

['Yellow', 'Purple', 'Green', 'Blue', 'RED']

#### LIST methods/functions

In [143]:
list_num=[5, 10, 15, 3, 25, 7, 4, 15]
print(list_num)

[5, 10, 15, 3, 25, 7, 4, 15]

In [144]:
print( max(list_num) )
print( min(list_num) )

25
3

In [145]:
list_num.sort()
print(list_num)

[3, 4, 5, 7, 10, 15, 15, 25]

In [148]:
list_num.count(15)

2

In [149]:
len(list_num)

8

#### Nested List

In [136]:
list_mixed  = [['Hello', 'World'], [0, 1, 4, 3, 3, 5], [True, False]]

In [137]:
print(list_mixed[0])

['Hello', 'World']

In [138]:
list_mixed[1]

[0, 1, 4, 3, 3, 5]

In [139]:
list_mixed[2]

[True, False]

In [140]:
list_mixed[0][1]

'World'

#### Access list with Loops

In [178]:
list_num=[5, 10, 15, 3, 25, 7, 4, 15]
for i in list_num:
    print(i)

5
10
15
3
25
7
4
15

In [180]:
for i in list_num:
    print(i+10)

15
20
25
13
35
17
14
25

In [183]:
for i in list_num:
    print("This is " + str(i))

This is 5
This is 10
This is 15
This is 3
This is 25
This is 7
This is 4
This is 15

#### Zip list elements

In [20]:
list_1 = [10,20,30,40,50]
list_2 = ['a', 'b', 'c', 'd', 'e']

for i,j in zip(list_1, list_2):
    print(i,j)

10 a
20 b
30 c
40 d
50 e

## Python Tuples

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [12]:
thistuple = ("apple",)
print(type(thistuple))


thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [13]:
tuple_mixed = ("abc", 34, True, 40, "male")
print(tuple_mixed)

('abc', 34, True, 40, 'male')

#### Accessing items of Tuple

In [15]:
print(tuple_mixed[1])

34

In [16]:
print(tuple_mixed[-1])

male

In [17]:
print(tuple_mixed[2:5])

(True, 40, 'male')

#### Add/Edit items of Tuple

In [18]:
tuple_mixed.append("orange") # This will raise an error
print(tuple_mixed)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
tuple_mixed[0]

'abc'

In [20]:
tuple_mixed[0] = 'def'

TypeError: 'tuple' object does not support item assignment

#### So why using tuples?

In [12]:
!python -m timeit "x=(1,2,3,4,5,6,7,8)"
!python -m timeit "x=[1,2,3,4,5,6,7,8]"

100000000 loops, best of 3: 0.0159 usec per loop
10000000 loops, best of 3: 0.0776 usec per loop

## Python Dictionaries

<img src = "images/Dictionary-Key-Value-Pairs-Illustration.png">

In [34]:
person = {
    'name': 'Ford',
    "age": 25,
    'job': 'Dev',
    "city": 'New York',
    'email': 'bob@web.com'
}
print(person)

{'name': 'Ford', 'age': 25, 'job': 'Dev', 'city': 'New York', 'email': 'bob@web.com'}

In [35]:
person["name"]

'Ford'

In [36]:
person.get("name")

'Ford'

In [37]:
person.items()

dict_items([('name', 'Ford'), ('age', 25), ('job', 'Dev'), ('city', 'New York'), ('email', 'bob@web.com')])

In [38]:
for x, y in person.items():
    print(x, y)

name Ford
age 25
job Dev
city New York
email bob@web.com

In [39]:
print( len(person) )

5

#### Add/Edit Dict Items

In [40]:
print(person)

person["name"] = "Bob"

print(person)

{'name': 'Ford', 'age': 25, 'job': 'Dev', 'city': 'New York', 'email': 'bob@web.com'}
{'name': 'Bob', 'age': 25, 'job': 'Dev', 'city': 'New York', 'email': 'bob@web.com'}

#### Sorting

In [52]:
d = {'one':1,
     'three':3,
     'five':5,
     'two':2,
     'four':4}

from collections import OrderedDict 
sorted_d = OrderedDict(sorted(d.items())) 
sorted_d

OrderedDict([('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)])

In [58]:
def sort_by_value(item):
    return item[1]

from collections import OrderedDict
sorted_dict = OrderedDict(sorted( d.items(), key=sort_by_value ))
sorted_dict

OrderedDict([('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)])

## Python Sets

In [1]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'cherry', 'apple', 'banana'}

In [2]:
fruits = {"apple", "banana", "cherry", "apple", "jackfruit"}
print(fruits)

{'cherry', 'jackfruit', 'apple', 'banana'}

In [3]:
print(fruits)

{'cherry', 'jackfruit', 'apple', 'banana'}

In [4]:
fruits.remove("apple")

In [5]:
print(fruits)

{'cherry', 'jackfruit', 'banana'}

In [6]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

#### Sorting

In [12]:
num_set = {5,7,6,3,4,9,7,2,3,3,1}

sorted_set = sorted(num_set)
desc_sorted_set = sorted(num_set, reverse=True)

print(sorted_set)
print(desc_sorted_set)

[1, 2, 3, 4, 5, 6, 7, 9]
[9, 7, 6, 5, 4, 3, 2, 1]

#### List to Set

In [246]:
num = [5,2,8,2,7,1,6,3]
print(num)
print( set(num) )

[5, 2, 8, 2, 7, 1, 6, 3]
{1, 2, 3, 5, 6, 7, 8}

## Python functions

In [259]:
def name_function(fname):
    print(fname + " Refsnes")

name_function("Adam")
name_function("Smith")
name_function("Rebecca")

Adam Refsnes
Smith Refsnes
Rebecca Refsnes

In [262]:
def name_function(fname, lname):
    print("My name is " + fname + " " + lname)

In [263]:
name_function("Adam", "Smith")

My name is Adam Smith

#### Keyword Arguments

In [276]:
def name_function(fname, lname):
    print("My name is " + fname + " " + lname)
    
name_function("Smith","Adam")

My name is Smith Adam

In [277]:
name_function(lname="Smith", fname="Adam")

My name is Adam Smith

#### Arbitrary Arguments, *args

In [290]:
def name_function(*names):
    print("First-Name: " + names[0] + " Last-Name: " + names[1])

name_function("Adam", "Smith")
name_function("Avishek", "Das")

First-Name: Adam Last-Name: Smith
First-Name: Avishek Last-Name: Das

#### Arbitrary Keyword Arguments, **kwargs

In [295]:
def name_function(**names):
    print("His last name is " + names["lname"])
    print("Full name: "+ names['fname']+ " " +names['lname'])

name_function(lname="Smith", fname="Adam")
name_function(lname="Das", fname="Avishek")

His last name is Smith
Full name: Adam Smith
His last name is Das
Full name: Avishek Das

#### Function with Return Statement

In [296]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

#### Pass anything inside function

In [299]:
def print_list(any_list):
    for i in any_list:
        print(i)

In [300]:
num = [5,2,8,2,7,1,6,3]
print_list(num)

5
2
8
2
7
1
6
3